<div class="jumbotron">
    <h1 class="title">Joyin ·积·汇</h1>
    <p class="slogan">尝试新领域 打造多维竞争力 完美职业转身
        <br>
        你苦苦搜寻的机会，都在这里
        <br><br>
        七天理解一个新行业
        <br>
        在八小时之外
        <br>
        体验疯狂成长
    </p>
    <p class="lead">
        <a class="btn btn-lg btn-success" href="/activities">发现你的新机会！</a>
    </p>
</div>

<div class="container">
  <h2> 推荐的分类 </h2>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-3"><h3>大神线下分享</h3></div>
    <div class="col-sm-6 col-md-3"><h3>跨界头脑风暴</h3></div>
    <div class="col-sm-6 col-md-3"><h3>来次实战体验</h3></div>
    <div class="col-sm-6 col-md-3"><h3>线上也能参与</h3></div>
  </div>
</div>
