<div class="jumbotron">
    <h1 class="title">Joyin ·积·汇</h1>
    <p class="slogan">尝试新领域 打造多维竞争力 完美职业转身
        <br>
        你苦苦搜寻的机会，都在这里
        <br><br>
        七天理解一个新行业
        <br>
        在八小时之外
        <br>
        体验疯狂成长
    </p>
    <p class="lead">
        <a class="btn btn-lg btn-success" href="/activities">发现你的新机会！</a>
    </p>
</div>
